body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}
::-webkit-scrollbar {
    display: none;
}
 
#defaultCanvas0 {
    position: absolute;
    top: 50px;
    left: 100px;
    /* visibility: hidden; */
}

#defaultCanvas1 {
    position: absolute;
    top: 225px;
    left: 100px;
    /* visibility: hidden; */
}

#defaultCanvas2 {
    position: absolute;
    top: 400px;
    left: 100px;
    /* visibility: hidden; */
}